<style type="text/css">
.st-selected {
    background-color: #B0C4DE!important;
}

.st-selected input {
    background-color: rgba(255, 247, 235, 0.87);
}
</style>
<section ng-controller="ExampleController">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    点击展开/折叠使用说明
                </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                <div class="panel-body">
                    <p>在我自己使用Github时，往往发现太多好的repos，Star过后，太多Star又变得不易挖掘，为了方便管理Star过的项目，我花10多天用MEAN全栈写了这个管理系统。</p>
                    <p>本项目源码公开，项目地址：<a href="https://github.com/golmic/GithubStarManage" target="_blank">https://github.com/golmic/GithubStarManage</a> 欢迎Star及issues</p>
                    <p>另外求互联网公司技术岗位工作机会，线上简历在<a href="http://golmic.deercv.com" target="_blank">http://golmic.deercv.com</a></p>
                    <p>本系统实现了对GithubStar过的项目的搜索/添加tags/添加个性化描述等功能来加强对Star功能的利用。</p>
                    <p>总体设计易于上手，而为了信息聚合以及设计简洁的需要，我把所有功能整合到了下面这一个表格中，所以有必要对某些功能提供一个说明</p>
                    <hr>
                    <p>先来介绍一下标签系统吧，首先是用户级标签（或全局标签），用户级标签是一个标签集，也就是你所有的项目的标签都是用户级标签的子集。如果你想给一个项目添加标签，那么首先要保证这个标签也在全局表签中，至于为什么这么做，一方面是避免误操作添加了错误的标签，alpha版本暂未添加删除标签的功能。另一方面原因会在下面解释。</p>
                    <p>因为使用Nodejs以及Angularjs完全实现了前后端分离，添加用户级标签后需要重新从后端数据库更新一下前台的数据，所以在添加用户级标签后需要手动点击“刷新用户级标签”</p>
                    <hr>
                    <p>批量给repos添加标签：每次只能添加一个标签，首先从用户级标签的列表中选择你想要添加的tag，然后从下面的表格中选中想要加到的repo中，支持同时向多个repos中添加标签。确认添加的按钮在表格最下方</p>
                    <hr>
                    <p>添加自定义描述：表格中的remark列是input类型的，所以可以添加自定义描述，支持批量添加，确认添加的按钮在表格最下方。此功能与批量添加tag是合并的。</p>
                    <hr>
                    <p>搜索：支持全局搜索，特定列搜索。使用特定列搜索时，先在表格上方的设置中将欲搜索项激活。搜索是实时展示的，设置延时为400ms.</p>
                    <hr>
                    <p>排序：点击列名，可以对相应列按升降序以及无序进行排序。</p>
                    <hr>
                    <p>项目还有很多需要优化的地方，欢迎提issue报bug以及建议。谢谢支持~</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <p>用户级标签列表：</p>
        <p ng-bind="{{user.tags}}"></p>
        <a href="https://github.com/login/oauth/authorize?client_id=4c4ff12d4ea2e9212252&scope=repo">刷新用户级标签</a>
    </div>
    <div class="col-md-4">
        <form enctype='application/json' action="{{user.user_name}}" method="post">
            <label>添加用户级标签：</label>
            <input type="submit" value="添加tags" class="btn btn-default">
            <input type="text" name="tags" placeholder="以英文逗号分隔可添加多个" class="form-control">
        </form>
    </div>
    <form action="{{user.addRemarkAndTag}}" method="post" class="row">
        <div class="col-md-2">
            <p>添加此标签</p>
            <select name="tag" class="form-control">
                <option ng-repeat="tag in user.tags" value="{{tag}}">{{tag}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <p>搜索此列：</p>
            <select ng-model="selectedAttribute" ng-options="attribute for attribute in attributes" class="form-control"></select>
        </div>
        <div class="col-md-2">
            <p>每页显示N条repos</p>
            <input type="number" ng-model="itemsByPage" class="form-control">
        </div>
        <br>
        <hr>
        <br>
        <div class="col-md-12">
            <table st-table="displayedCollection" st-safe-src="remote" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th st-sort="remark" class="col-md-2">remark</th>
                        <th class="col-md-1">Add Tag</th>
                        <th st-sort="name" class="col-md-2">NAME</th>
                        <th st-sort="description" class="col-md-5">description</th>
                        <th st-sort="language" class="col-md-1">language</th>
                        <th st-sort="tags" class="col-md-1">tags</th>
                    </tr>
                    <tr>
                        <th>
                            <input st-search="remark" placeholder="search remark" type="search" class="form-control" />
                        </th>
                        <th>To It
                        </th>
                        <th>
                            <input st-search="{{selectedAttribute}}" placeholder="search '{{selectedAttribute}}'" type="search" class="form-control" />
                        </th>
                        <th>
                            <input st-search placeholder="global search" type="search" class="form-control" />
                        </th>
                        <th>
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in displayedCollection">
                        <td>
                            <input type="text" name="{{row._id}}" placeholder="{{row.remark}}" class="form-control" />
                        </td>
                        <td cs-select="row"></td>
                        <td ng-repeat="col in attributes">{{row[col]}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <input type="submit" value="确定添加Tag以及remark" class="btn btn-default" />
        </div>
    </form>
</section>
