<!DOCTYPE html>
<html>

<head>
    <title>Github Star Manage</title>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="Content-Language" content="zh-cn,en" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Golmic" />
    <meta name="copyright" content="Golmic © 2015" />
    <meta name="robots" content="all" />
    <link href="/css/main.css?ver=0.4" rel="stylesheet" media="screen" />
    <script src="/js/modernizr.js"></script>
    <script src="/js/helper.js"></script>
    <script src="/js/three.min.js"></script>
    <script src="/js/tween.min.js"></script>
    <script src="/js/main.js?ver=0.4"></script>
</head>

<body lang="zh-cn">
    <div id="cover">
        <a href="/"><img src="/img/logo.png" </a>
            <!-- <a href="http://onepagelove.com/bacae" target="_blank" class="opl">My Site was featured on One Page Love</a> -->
            <nav>
                <h1><a href="https://github.com/login/oauth/authorize?client_id=4c4ff12d4ea2e9212252&scope=repo">开始管理我的Github Stars</a></h1>
            </nav>
            <small>前端代码参考<a href="http://bacae.com/" target="_blank">i</a></small>
    </div>
    <div id="works" class="clearfix">
        <div class="wrap">
            <div class="work">
                <figure>
                    <img src="/img/anchor.png" width="100" height="100" />
                </figure>
                <p>
                    Github是星辰大海，无数项目汇集其中。我们常以Star来标记优秀的repo，而Star数量的增多以及Github自身Star功能的简易已经不能满足我们的需求。本项目调用Github API，管理你的Github Star。
                </p>
            </div>
            <div class="work">
                <figure>
                    <img src="/img/config.png" width="100" height="100" />
                </figure>
                <p>
                    GithubStarManage具有强大的可定制性，可以对repos进行多种操作如添加Tag、添加描述，当然也可以通过搜索或排序来筛选repos。更多功能仍在开发中，也欢迎各项功能建议，酌情纳入下一版本的开发中。
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="work">
                <figure>
                    <img src="/img/tags.png" width="100" height="100" />
                </figure>
                <p>
                    GithubStarManage采用标签对repos进行管理，独有的双标签系统（用户级标签以及项目标签）更方便了对repos的操作。
                </p>
            </div>
            <div class="work">
                <figure>
                    <img src="/img/search.png" width="100" height="100" />
                </figure>
                <p>
                    GithubStarManage拥有强大的搜索功能，因为前端架构完全采用Angularjs，所有的搜索操作瞬间完成。支持相应属性搜索以及全局搜索。模糊搜索正在开发中。
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="work">
                <figure>
                    <img src="/img/sort.png" width="100" height="100" />
                </figure>
                <p>
                    GithubStarManage支持对各项属性进行排序来筛选repos，所有排序操作均由前端实现，使得速度上取得提升。
                </p>
            </div>
            <div class="work">
                <figure>
                    <img src="/img/chart.png" width="100" height="100" />
                </figure>
                <p>
                    GithubStarManage将各项属性以及操作深度整合，实现了一张表展示、操作所有的repos。
                </p>
            </div>
        </div>
        <div class="wrap">
            <div class="work">
                <figure>
                    <img src="/img/code.png" width="100" height="100" />
                </figure>
                <p>
                    本项目代码在GPL协议下开源，项目代码托管在Github。欢迎贡献代码、提交Bug以及issue。如果觉得项目不错，请Star。
                </p>
                <p>
                    项目地址：<a href="https://github.com/golmic/GithubStarManage" target="_blank">https://github.com/golmic/GithubStarManage</a>
                </p>
            </div>
            <div class="work">
                <figure>
                    <img src="/img/spinner.png" width="100" height="100" />
                </figure>
                <p>
                    本项目版本高速迭代，功能正在不断完善……
                </p>
            </div>
        </div>
    </div>
    <div id="about">
        <div class="wrap">
            <p>
                写这个GithubStarManage的初衷就是为了弥补我在使用Github时，Star功能的不足。项目运行于我自己维护的CentOS主机上，后端由Node.js实现，服务器由Express开发，数据库采用NoSQL的代表MongoDB，前端采用的是Angularjs。在MEAN全栈下完全实现了MVC架构，从第一行代码到上线Alpha版本用时20天，也算是自己假期完成的一个小项目。</p>
            <p>另外求职，求互联网公司技术岗位，接受全栈，倾向于后端，线上简历在 <a href="http://golmic.deercv.com" target="_blank">http://golmic.deercv.com</a> 简历是几个月之前写的，还未更新，可以马上入职，联系方式均有效，欢迎HR联系面试。</p>
        </div>
    </div>
    <!--  <div id="contact">
    </div> -->
    <div id="footer">
        <div class="wrap">
            <div><span>Golmic [c] 2015</span><a href="https://github.com/golmic/GithubStarManage" target="_blank">https://github.com/golmic/GithubStarManage</a></div>
        </div>
    </div>
</body>

</html>
